.header {
    position: sticky;
    gap: 12px;

    top: 0;
    padding: 0px 40px 0px 40px;
    width: 100vw;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
}