/* Serika light from Monkeytype */
:root {
    --main-color-transperent: #70bacc40;
    --main-color: #70bacc;
    --caret-color: var(--main-color);
    --sub-color: #aaaeb3;
    --sub-alt-color: #d1d3d8;
    --bg-color: #eceff5;
    --bg-color-transperent: #e1e1e300;
    --bg-color-gradient: #e1e1e3d0;
    --text-color: #323437;
    --error-color: #da3333;
    --error-extra-color: #791717;
    --colorful-error-color: #da3333;
    --colorful-error-extra-color: #791717;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }


    /* Serika dark from Monkeytype */
    :root {
        --main-color: #a7dbe8;
        --caret-color: var(--main-color);
        --bg-color: #323437;
        --bg-color-transperent: #32343700;
        --bg-color-gradient: #323437d0;
        --sub-color: #646669;
        --sub-alt-color: #2c2e31;
        --text-color: #d1d0c5;
        --error-color: #ca4754;
        --error-extra-color: #7e2a33;
        --colorful-error-color: #ca4754;
        --colorful-error-extra-color: #7e2a33;
    }
}