:root {
  --font: monospace, "Roboto Mono", "Roboto Mono", "Vazirmatn", "Kanit";
}

#__next {
  min-height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  color: var(--main-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .6s cubic-bezier(.14, .59, .32, .96);
}

a:hover {
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;

  font-weight: 600;
  font-size: small;
  border: 2px solid var(--main-color);
  height: 2.5rem;

  background-color: var(--caret-color);
  border-radius: 8px;

  max-width: fit-content;
  padding: 8px;
  font-family: var(--font);
  color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  transition: all .6s cubic-bezier(.14, .59, .32, .96);
}

button:hover {
  box-shadow: var(--main-color-transperent) 0px 8px 24px;
}

button:active {
  border: 2px solid var(--bg-color);
  /* background-color: var(--text-color); */
  box-shadow: var(--main-color-transperent) 0px 12px 32px;
}


input {
  border: none;
  box-sizing: border-box;
  border-radius: 1rem;
  height: 3rem;
  padding: 6px 12px 6px 12px;
  /* margin-bottom: 12px; */
  min-width: 280px;

  font-family: var(--font);

  background-color: var(--sub-alt-color);
  transition: all .6s cubic-bezier(.14, .59, .32, .96);

}

input::placeholder {
  color: var(--sub-color);
}

input:focus {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input:invalid {
  outline-color: var(--error-color);
  color: var(--error-color);
}

h4 {
  margin: 0;
  padding: 0;
  color: var(--sub-color);
  font-weight: normal;
}