.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 560px;
    margin: 24px 48px 72px 48px ;
    /* background-color: red; */
    height: 100%;
}

